<form class="recharge-form">
  <app-phone-number/>
  <label for="discount">Promotion:</label>
  <select id="discount" (change)="updateDiscountTag($event)">
    <option value=0.0995>Mobile Store Recharge 9.95% Discount</option>
    <option value=0.05>Mobile Store Recharge 5.00% Discount</option>
    <option value=0.01>Mobile Store Recharge 0.99% Discount</option>
  </select>
  <span class="discount-tag">Discount - {{ selectedDiscountStr }}</span>

  <label>Recharge Amount(RMB):</label>

  <div class="amount-options">
    <button type="button" class="amount-btn"
            *ngFor="let amount of amounts"
            [class.active]="amount === selectedAmount"
            (click)="selectAmount(amount)">
      {{ amount }}
    </button>
    <input type="text" size="10" class="amount-input" placeholder="10~3000"
           [(ngModel)]="customAmount"
           (focus)="removeActiveClass()"
           (input)="validateCustomAmount()"
           name="customAmount"
    />
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  </div>



  <div class="amount-summary">
    <p>Payment Amount: <span class="payment-amount">{{paymentAmount}} RMB</span></p>
    <p>Amount Received: <span class="received-amount">{{amountReceived}} RMB</span></p>
  </div>

</form>
